.main-1{
  height: 290px;
  background: url(../../../img/Bg-dark-2.png) $primary-2 center center no-repeat;

}

.figure-block-1-1{
    width:1140px;
    height: 65px;
    margin-top:30px;
    //filter: drop-shadow(5px 5px 3px grey);

    .figure-1{
        
        display:flex;
        justify-content: flex-start;
        
        background-color: $primary-4;
        .title-2{         
            width: 395px;
            height: 50px;
            color:$order-color;
            @include font($order-color,$font-regular,35px,100);
            text-transform: uppercase;
            padding-top: 0px;
            .word-1{
                
                @include font($order-color,$font-bold,50px,100);  
            }
            .word-2{
                margin-left: 15px;
                @include font($primary-3,$font-regular,20px,300);  
            }
             
        }

        .title-1{
            width: 770px;
            height: 50px;
            //background-color: $primary-4;
            @include font($primary-3,$font-bold,28px,400);
                text-transform: uppercase;
            padding: 5px;
            padding-left: 20px;
            span{
                margin-left: 10px;
                text-transform: lowercase;
                @include font($primary-3,$font-bold,24px,100); 
            } 
        }

          .d28 {
            height: 6px; 
            width: 53px; 
            margin-top: 22px;
            //display:inline-block;
            position: relative;
            transform: rotate(270deg);
            }
            .d28:before, 
            .d28:after {
            content: "";
            height: 100%; 
            width: 50%;
            position: absolute; 
            top: 0;
            background: $primary-2;//$primary-4;
            }
            .d28:before {
            left: 0;
            transform: skew(0deg, 30deg);
            //transform: rotate(270deg);
            }
            .d28:after {
            right: 0;
            transform: skew(0deg, -30deg);
            //transform: rotate(270deg);
            }
         
    }
    
    .d7 {
        width: 0; 
        height: 0;
        border-top: 20px solid  $primary-4;
        border-right: 20px solid transparent;
        
        }


    
    
}

.container-forms{
    //margin-top: 20px;
    height: 150px;

    article{
        float: left;
        margin-right: 50px;
        margin-top: 20px;
        width: 310px;

        h3{
            @include font($base-light,$font-regular,16px,100);
            text-transform: uppercase; 
        }
        /*
        p{
            height: 40px;
        }
        */
        .text-tot-pr{
            text-transform: uppercase;
            @include font($base-light,$font-regular,16px,100);
           
            .price-text{
                text-transform: uppercase;
                @include font($base-light,$font-regular,48px,100); 
            }

            .price-text-1{
                margin-left: 30px;
                text-transform: uppercase;
                @include font($base-light,$font-regular,25px,200);
            }
        }
        
    }

    
    .figure-block-2-1{
        //margin-top:35px;
        //margin-bottom:35px;
        //filter: drop-shadow(5px 5px 3px grey);

        .figure-block-2-2{
            width: 310px;
            height: 40px;

            h2{
                @include font($base-light,$font-regular,26px,100);
                text-transform: uppercase;
                text-align: center;
                background-color: $order-color;
            }
            .d7-1 {
                width: 0; 
                height: 0;
                border-top: 15px solid  $order-color;
                border-right: 20px solid transparent;
                
                }
        }
    }
}

.main-2{
    height: 920px;
    //background: url(../../../img/Bg-dark-2.png) center center no-repeat;
  
}


.inside-block-1 p{
    margin-top:80px;
    @include font($base-dark,'Arial',18px,100);
    text-align: left;
}

  .figure-block-4-1{
    margin-top:35px;
    margin-bottom:35px;
    filter: drop-shadow(5px 5px 3px grey);
    

    .figure-block-4-2{
        background-color: $primary-4;
        width: 1140px;
        height: 50px;
        //display:flex;
        //justify-content: center;
        //align-items: center;
    }

    .figure-block-4-2 h2{
        @include font($primary-3,$font-bold,28px,400);
        text-transform: uppercase;
        text-align: center;
        background-color: $primary-4;
        padding: 15px;
        height: 64px;
    }

    .figure-block-4-2 span{
        text-transform: lowercase;
        margin-left:10px; 
    }
    .d7 {
        width: 0; 
        height: 0;
        border-top: 30px solid  $primary-4;
        border-right: 30px solid transparent;
        
        }
    
}

.inform-blocks{
    margin-top: 50px;
    height: 545px;
    width: 1200px;
    
    article{
        float: left;
        margin-right: 20px;
        width: 280px;
        height: 545px;
        text-align: center;
    
        h4{
            padding-top: 25px;
            height: 60px;
            width: 255px;
            @include font($primary-3,$font-medium,18px,100);
            text-transform: uppercase;
        }

        span{
            text-transform: lowercase; 
        }

        .p-1{
            margin-top: 40px;
            width: 260px;
            @include font($base-dark,'Arial',14px,500);
            text-align: justify;
            //height: 215px;
        }
        
        ul{
            margin-top: 5px;
            width: 260px;
            @include font($base-dark,'Arial',14px,500);
            text-align: justify;
        }

        button{
            width: 120px;
            height: 35px;
            background: none;
            background-color: $primary-1;
            border: none;
            @include font($base-light,$font-regular,16px,100);
            text-transform: uppercase;
            
        }

        .b-1{
            margin-top:120px;
        }

        .b-2{
            margin-top:40px;
        }

        .b-3{
            margin-top:80px;
        }

        .b-4{
            margin-top:80px;
        }
    
    }
    
    .d7-2 {
        display:none;
        width: 0; 
        height: 0;
        border-top: 15px solid  $base-light;
        border-right: 20px solid transparent;
        
        }

    
    

    article:hover{
        
        .d7-2{
           display: block;
           filter: drop-shadow(5px 5px 3px grey);    
        }
        .d8-1{
            display: block;
            height: 550px;
            width: 280px;
            border: solid 0.5px $base-light;
            background-color: $base-light;
            filter: drop-shadow(5px 5px 3px grey);
        }
    }

}

.why-order{
    height: 600px;
    background: url(../../../img/Bg-dark-3.png) $primary-3 center center no-repeat;
}

.figure-block-5-1{
    margin-top:35px;
    margin-bottom:35px;
    filter: drop-shadow(5px 5px 3px grey);
    

    .figure-block-5-2{
        background-color: $primary-4;
        width: 1140px;
        height: 50px;
        //display:flex;
        //justify-content: center;
        //align-items: center;
    }

    .figure-block-5-2 h2{
        @include font($primary-3,$font-bold,28px,400);
        text-transform: uppercase;
        text-align: center;
        background-color: $primary-4;
        padding: 15px;
        height: 64px;
    }

    .figure-block-5-2 span{
        text-transform: lowercase;
        margin-left:10px; 
    }
    .d7 {
        width: 0; 
        height: 0;
        border-top: 30px solid  $primary-4;
        border-right: 30px solid transparent;
        
        }
    
}

.p-4{
    @include font($base-light,'Arial',24px,400);
    text-align: center;
}

.info-blocks-1{
    width: 1200px;
    height: 345px;
    article{
        float:left;
        margin-right: 20px;
        width: 255px;
        height: 170px;
        margin-top: 35px;
        @include font($base-light,'Arial',24px,400);
    }
}

/*-----------------How it works ---------------*/


.how-it-works{
    height: 720px;
    //background: url(../../../img/Bg-dark-3.png) $primary-3 center center no-repeat;
}

.figure-block-6-1{
    margin-top:35px;
    margin-bottom:35px;
    filter: drop-shadow(5px 5px 3px grey);
    

    .figure-block-6-2{
        background-color: $primary-4;
        width: 1140px;
        height: 50px;
        //display:flex;
        //justify-content: center;
        //align-items: center;
        h2{
            @include font($primary-3,$font-bold,28px,400);
            text-transform: uppercase;
            text-align: center;
            background-color: $primary-4;
            padding: 15px;
            height: 64px;
        }

        span{
            text-transform: lowercase;
            margin-left:10px; 
        }
    
        .d7 {
            width: 0; 
            height: 0;
            border-top: 30px solid  $primary-4;
            border-right: 30px solid transparent;
            
            }
    
    }   
    
}


.drop-menu{
    height: 420px;
    width: 1200px;
    margin-top:25px;
    
    
    
    article{
        width: 530px;
        height: 420px;
        
        float:left;
        margin-right: 10px;

        .drop-menu-list{
            list-style-type: none;
            
        
        li{
            //display:flex;
            //align-items: center;
            //justify-content: center;  
            height: 70px;
            border-bottom: solid 2px $primary-4;
            @include font($primary-3,$font-medium,16px,200);
            text-transform: uppercase;
            
            h4{
                display:flex;
                align-items: center;
                position: relative;
            }

            

            .drop-list-number{
                @include font($primary-4,$font-bold,60px,400);
                //float:left;
                margin-right: 10px;
              
            }

            .drop-list-head{
                margin-left: 5px;
                text-transform: lowercase;
            }

            h4:hover{
                @include font($base-light,$font-medium,20px,200);
                background-color: $primary-2;
                
            }

            h4:hover .d6{  
                    display:block;
                    position: absolute;
                    right: -6.7%;
                    width: 0; 
                    height: 0;
                    border-top: 36.5px solid transparent;
                    border-left: 35px solid $primary-2;
                    border-bottom: 36.5px solid transparent;
                    
            }


            .list-number-2:hover article>.list-block-2{
                display:block;
            } 
           
        }

    }

    .list-block{
        //display:flex;
        //justify-content: center;
        //align-items: flex-start;
        text-align: center;
        
        h5{
            margin-top:20px;
            @include font($primary-3,'Arrial',18px,100);

        }
        p{
            margin-top:20px;
            margin-left:50px;
            text-align: justify;
            width: 420px;
            @include font($base-dark,'Arrial',18px,100);
        }
    }

    .list-block-1{
        display:block;
    }

    .list-block-2{
        display:none;
    }

    .list-block-3{
        display:none;
    }

    .list-block-4{
        display:none;
    }

    .list-block-5{
        display:none;
    }

    .list-block-6{
        display:none;
    }

}

}


.figure-block-7-1{
    
    margin-top:40px;
    //height: 200px;
    
    //margin-bottom:35px;
    //filter: drop-shadow(5px 5px 3px grey);

    .figure-block-7-2{
        width: 310px;
        

        h2{
            @include font($base-light,$font-regular,26px,100);
            text-transform: uppercase;
            text-align: center;
            background-color: $order-color;
        }
        .d-1 {
            width: 0; 
            height: 0;
            border-top: 15px solid  $order-color;
            border-right: 20px solid transparent;
            
            }
    }
}


.row-of-icons{
    margin-top:50px;
    height: 70px;
    background-color: $primary-4;
    
    .row-icons{
           display:flex;
           align-items: center;
           //justify-content: space-between;
           height: 70px;
            article{
            width: 550px;
            float: left;
            margin-right: 20px;
        }
    
        .icons-1{           
            img{
                width:100%;
            }
        }
       
        
        .icons-2{          
            img{
                padding-left: 170px;
            }
        }
           
    }
       
}



